In [2]:
# Loanding Data
#--------------
import pandas as pd
df = pd.read_csv('../data/cleaned_most_used_beauty_cosmetics_products_extended.csv')
df.head()

,Product_Name,Brand,Category,Usage_Frequency,Price_USD,Rating,Number_of_Reviews,Product_Size,Skin_Type,Gender_Target,...,Gender_Target_Male,Gender_Target_Unisex,Main_Ingredient_Aloe Vera,Main_Ingredient_Glycerin,Main_Ingredient_Hyaluronic Acid,Main_Ingredient_Retinol,Main_Ingredient_Salicylic Acid,Main_Ingredient_Shea Butter,Main_Ingredient_Vitamin C,Product_Size_NoML
0,Ultra Face Mask,Drunk Elephant,Blush,Weekly,67.85,1.4,686,30ml,Sensitive,Female,...,False,False,False,False,False,True,False,False,False,30.0
1,Ultra Lipstick,Laura Mercier,Makeup Remover,Occasional,116.43,4.2,5483,250ml,Dry,Unisex,...,False,True,False,False,False,False,False,True,False,250.0
2,Ultra Serum,Natasha Denona,Highlighter,Daily,90.84,1.6,5039,100ml,Sensitive,Male,...,True,False,True,False,False,False,False,False,False,100.0
3,Divine Serum,Ilia Beauty,Face Mask,Occasional,55.17,3.2,6202,250ml,Normal,Male,...,True,False,False,True,False,False,False,False,False,250.0
4,Super Foundation,Charlotte Tilbury,Highlighter,Occasional,140.56,1.7,297,100ml,Oily,Female,...,False,False,False,True,False,False,False,False,False,100.0

## Análisis Univariante No Gráfico

**Objetivo:** Realizar analisis segun el tipo de variables; categoricas y numericas, interpretando la informacion de los datos a traves de las siguientes preguntas:

- *Variables categorícas*: Indentificar las mas y menos comunes
  1. ¿Qué marcas (Brand) tienen más productos?
  2. ¿Cuáles son las categorías (Category) más representadas? ¿Hay categorías que aparezcan muy poco?
  3. ¿Cuál es el uso más frecuente (Usage_Frequency) de los productos?
  4. ¿Qué tipo de piel (Skin_Type) es más objetivo de los productos?
  5. ¿Qué pais (Country_of_Origing) produce la mayor cantidad de productos ?
 
- *Variables que han sido encoded*:
  1. ¿Qué ingredientes (Main_Ingredient) son los más comunes?
  2. ¿Los productos están más orientados hacia un género específico?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Product_Name                     15000 non-null  object
 1   Brand                            15000 non-null  object
 2   Category                         15000 non-null  object
 3   Usage_Frequency                  15000 non-null  object
 4   Price_USD                        15000 non-null  float64
 5   Rating                           15000 non-null  float64
 6   Number_of_Reviews                15000 non-null  int64
 7   Product_Size                     15000 non-null  object
 8   Skin_Type                        15000 non-null  object
 9   Gender_Target                    15000 non-null  object
 10  Packaging_Type                   15000 non-null  object
 11  Main_Ingredient                  15000 non-null  object
 12  Cruelty_Free                     15000 non-null  bool
 13  Country_of_Origin                15000 non-null  object
 14  Usage_Frequency_encoded          15000 non-null  int64
 15  Category_encoded                 15000 non-null  int64
 16  Packaging_Type_encoded           15000 non-null  int64
 17  Gender_Target_Female             15000 non-null  bool
 18  Gender_Target_Male               15000 non-null  bool
 19  Gender_Target_Unisex             15000 non-null  bool
 20  Main_Ingredient_Aloe Vera        15000 non-null  bool
 21  Main_Ingredient_Glycerin         15000 non-null  bool
 22  Main_Ingredient_Hyaluronic Acid  15000 non-null  bool
 23  Main_Ingredient_Retinol          15000 non-null  bool
 24  Main_Ingredient_Salicylic Acid   15000 non-null  bool
 25  Main_Ingredient_Shea Butter      15000 non-null  bool
 26  Main_Ingredient_Vitamin C        15000 non-null  bool
 27  Product_Size_NoML                15000 non-null  float64
dtypes: bool(11), float64(3), int64(4), object(10)
memory usage: 2.1+ MB

In [4]:
# Divide the columns by type
variables_numericas = df.select_dtypes(include=[ 'float64', 'int64']).columns
variables_categoricas = df.select_dtypes(include=['object']).columns

In [5]:
df[variables_numericas]

,Price_USD,Rating,Number_of_Reviews,Usage_Frequency_encoded,Category_encoded,Packaging_Type_encoded,Product_Size_NoML
0,67.85,1.4,686,2,13,5,30.0
1,116.43,4.2,5483,1,0,0,250.0
2,90.84,1.6,5039,3,14,1,100.0
3,55.17,3.2,6202,1,3,5,250.0
4,140.56,1.7,297,1,14,1,100.0
...,...,...,...,...,...,...,...
14995,131.64,2.8,1470,3,3,5,250.0
14996,76.35,2.1,7652,2,5,2,250.0
14997,65.37,4.2,811,1,14,2,30.0
14998,59.93,4.8,5482,2,22,2,250.0
14999,36.96,1.1,5452,3,13,0,200.0

In [25]:
df[['Price_USD', 'Rating',  'Number_of_Reviews',  'Product_Size_NoML']].describe()

          Price_USD        Rating  Number_of_Reviews  Product_Size_NoML
count  15000.000000  15000.000000       15000.000000       15000.000000
mean      80.134108      3.002327        5014.231333         129.233333
std       40.402983      1.168029        2855.665464          78.544405
min       10.000000      1.000000          52.000000          30.000000
25%       45.480000      2.000000        2562.000000          50.000000
50%       80.040000      3.000000        5002.000000         100.000000
75%      114.760000      4.000000        7497.000000         200.000000
max      149.990000      5.000000       10000.000000         250.000000